# Clang-Format file for collab-vm-server

Language: Cpp
BasedOnStyle: Chromium
Standard: c++20

# Force left pointer alignment,
# and don't let it be derived.
DerivePointerAlignment: false
PointerAlignment: Left

# I think if these two aren't the same
# it won't indent with tabs even with UseTab set to Always
TabWidth: 4
IndentWidth: 4
UseTab: Always

SpacesInSquareBrackets: false
IndentPPDirectives: BeforeHash

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortLambdasOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortEnumsOnASingleLine: false

PackConstructorInitializers: Never
BinPackArguments: true
BinPackParameters: true
BreakConstructorInitializers: AfterColon
BreakStringLiterals: false

AllowAllArgumentsOnNextLine: false

ColumnLimit: 0
CompactNamespaces: false


#ConstructorInitializerAllOnOneLineOrOnePerLine: true
ContinuationIndentWidth: 0

# turning this on causes major issues with initializer lists,
# turn it off
Cpp11BracedListStyle: false

# this is turned on to allow something like:
#
#	T MyTValue {
#		initalizer list...
#	};
SpaceBeforeCpp11BracedList: true
SpaceAfterTemplateKeyword: false

FixNamespaceComments: true

NamespaceIndentation: All

# this EXPLODES doxygen comments.
# Kind of a problem when this means we have to go through every single
# documentation comment and fix it
ReflowComments: false

SortIncludes: CaseInsensitive
SortUsingDeclarations: true

SpaceBeforeParens: Never
SpacesBeforeTrailingComments: 1
