# Ignore the binaries and library roots for Windows
/**/bin/
/**/obj/
/**/cvmlib/
/**/cvmlib32/

# Usually leftovers by yellows111 or off-branch patchers who are testing features
*.patch
*.orig
*.log
*.patch.*
*.rej

# Ignore the http binary dir, sometimes it gets left in the source root
http/

# git mergetool, I *dare* you. - yellows111
*.swp
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*