[submodule "third_party/flatbuffers"]
	path = third_party/flatbuffers
	url = https://github.com/google/flatbuffers
[submodule "third_party/ctre"]
	path = third_party/ctre
	url = https://github.com/hanickadot/compile-time-regular-expressions
