# Ignore the binaries and library roots for Windows
/**/bin/
/**/obj/
/**/cvmlib/
/**/cvmlib32/
/**/cvmlib_src/
/**/ossp-uuid/

# Ignore the http binary dir, sometimes it gets left in the source root
http/

